<template name="layout">
  <header>
    <div class='container'>
      <h1>Theta Deuteron HQ</h1>
      <ul>
        <li> <a href="/alumni">Alumni Portal</a></li>
        <li> <a href="/tour">House Tour</a></li>
        <li> <a href="/summer">Summer Housing</a></li>
        <li> <a href="/about">About Us</a></li>
        <li> | </li>
        <li> <a href="/about">Dashboard</a></li>
        <li> <a href="/about">Leader Board</a></li>
        <li> <a href="/about">Clean Ups</a></li>
        <li> <a href="/about">Social</a></li>
      </ul>
    </div><!--first container-->
  </header>
  <div class='container'>
    <main>{{> home}}</main>
  </div><!--second container-->
</template>  

